 .idea/
  ClickMaster.iml
  pom.xml
/.idea/compiler.xml
/.idea/misc.xml
/pom.xml
/.idea/vcs.xml
/.idea/workspace.xml
/ClickMaster.iml
/target/classes/pl/maciek_rychlinski/ClickCounter$1.class
/target/classes/pl/maciek_rychlinski/ClickCounter$2.class
/target/classes/pl/maciek_rychlinski/ClickCounter.class
/target/classes/fronczewski.jpg
/target/classes/META-INF/ClickMaster.kotlin_module
/.idea/uiDesigner.xml
